.wonder
{
    margin-bottom: 16px;
    padding: 0px 8px;
    background-color: transparent;
}

.wonder>.description
{
    margin-top: 16px;
    padding: 32px 16px;

    max-width: 800px;

    border-style: solid ;
    border-width: 0px 8px;
 
    border-image: linear-gradient(to bottom, firebrick , darkred ) 0 1;
    box-shadow: 4px 4px 4px #420000;
}

.description>.slider
{
    margin: 16px;
    align-items: stretch;
}


.nav_buttons
{
    margin-bottom: 16px;
    gap: 32px;
}

.nav_button
{
    width: 32px;
    height: 16px;

    background-color: beige;
    border-color: lightgray;

    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

}
.picture
{
    margin: auto;

    width: 384px;
    height: 256px;
    
    object-fit: cover;

    border-style: solid;
    border-width: 8px;
    border-color:darkred;  
    
    box-shadow: 4px 4px 4px rgba(0,0,0,25%);
}
.slider>.container_row
{
    padding: 16px 0px;
}
.pictures
{
    padding-left: 32px;
    gap: 8px;
}

.content
{
    width: auto;
    margin: 0px 48px;
    
    justify-items: center;
    align-content: center;
}


.prev, .next
{
    padding: 0px;

    min-width: 48px;
    max-width: 48px;

    height: auto;

    display: block;

    background-color: beige;
    border-color: lightgray;

    border-style: solid;
    border-width: 2px;
    border-radius: 4px;

    color:firebrick;
    font-size: 24px;

}