.right_aligned
{
    align-self: flex-start;
}

.hidden
{
    display: none;
}

.active
{
    background-color: firebrick;
    border-color: darkred;
}

.active:hover
{
    background-color: firebrick;
    border-color: darkred;
}
